<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeler - Mesh Mekatronik</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/projects.js') }}" defer></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-container">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Mesh Mechatronics Logo" class="logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" data-translate="home">Anasayfa</a></li>
                    <li><a href="{{ url_for('about') }}" data-translate="about">Hakkımızda</a></li>
                    <li><a href="{{ url_for('services') }}" data-translate="services">Hizmetler</a></li>
                    <li><a href="{{ url_for('projects') }}" data-translate="projects">Projeler</a></li>
                    <li><a href="{{ url_for('contact') }}" data-translate="contact">İletişim</a></li>
                </ul>
            </nav>
            <select id="language-select" onchange="changeLanguage()">
                <option value="tr">TR</option>
                <option value="en">EN</option>
                <option value="de">DE</option>
            </select>
        </div>
    </header>
    <main>
        <section class="projects">
            <div class="container">
                <h2 data-translate="projects-title">Projelerimiz</h2>
                <div class="categories">
                    <button data-category="all" data-translate="all">Tümü</button>
                    <button data-category="concept-designs" data-translate="concept-designs">Konsept Tasarımlar</button>
                    <button data-category="fixtures" data-translate="fixtures">Fikstürler</button>
                    <button data-category="special-machines" data-translate="special-machines">Özel Makineler</button>
                </div>
                <div class="projects-gallery">
                    <div class="project-group" data-category="concept-designs">
                        <h3 data-translate="concept-design-title-1">Tavan Sunroof Punta Tamamlama ve Taşıma Manipülatörü</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/concept1.jpg') }}" alt="Concept Design 1">
                            <p data-translate="concept-design-1">Manipülatör</p>
                        </div>
                        <!-- <h3 data-translate="concept-design-title-3">Kablo Sarma Makinası</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/concept3.jpg') }}" alt="Concept Design 3">
                            <p data-translate="concept-design-3">Kablo Sarma Makinası</p>
                        </div> 
                        <h3 data-translate="concept-design-title-2">CNC Besleme</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/concept2.jpg') }}" alt="Concept Design 2">
                            <p data-translate="concept-design-2">CNC Besleme</p>
                        </div> -->
                        <h3 data-translate="concept-design-title-2">Çuval Gripper</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/concept2.jpg') }}" alt="Concept Design 2">
                            <p data-translate="concept-design-2">Çuval Gripper</p>
                        </div>
                    </div>
                    <div class="project-group" data-category="fixtures">
                        <h3 data-translate="fixtures-title-1">Şase Fikstürü</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/fixture1.jpg') }}" alt="Fixture 1">
                            <p data-translate="fixture-1">Şase Fikstürü</p>
                        </div>
                        <h3 data-translate="fixtures-title-2">PILLAR Fikstürü</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/fixture2.jpg') }}" alt="Fixture 2">
                            <p data-translate="fixture-2">PILLAR Fikstürü</p>
                        </div>
                        <h3 data-translate="fixtures-title-3">Salıncak Fikstürler</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/fixture3.jpg') }}" alt="Fixture 3">
                            <p data-translate="fixture-3">Salıncak Fikstürü - 1</p>
                        </div>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/fixture4.jpg') }}" alt="Fixture 4">
                            <p data-translate="fixture-4">Salıncak Fikstürü - 2</p>
                        </div>
                    </div>
                    <div class="project-group" data-category="special-machines">
                        <h3 data-translate="special-machines-title-1">Skid Changer</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/special1.jpg') }}" alt="Special Machine 1">
                            <p data-translate="special-machine-1">Skid Changer</p>
                        </div>
                        <h3 data-translate="special-machines-title-2">Fırın Lifti</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/special2.jpg') }}" alt="Special Machine 2">
                            <p data-translate="special-machine-2">Fırın Lifti</p>
                        </div>
                        <h3 data-translate="special-machines-title-3">Makaslı Lift</h3>
                        <div class="project-item">
                            <img src="{{ url_for('static', filename='images/projects/special3.jpg') }}" alt="Special Machine 3">
                            <p data-translate="special-machine-3">Makaslı Lift</p>
                        </div>
                    </div>
                    <!-- Daha fazla proje grubu eklenebilir -->
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p data-translate="footer-text">&copy; 2024 Mesh Mekatronik. Tüm hakları saklıdır.</p>
        </div>
    </footer>

    <!-- Modal yapısı -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-image">
        <div id="caption"></div>
    </div>
</body>
</html>
